/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color:  #091057;
  --secondary-color: #fff;
  --teritary-color: #fff;
}


/* Apply Poppins font to the entire app */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.listbox{
  max-width: 150px;
}
.groundcards a{
  text-decoration: none;
  color : #000
}
/*********Modal css********/
.modal-animate {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal.show.modal-animate {
  opacity: 1;
  transform: translateY(0);
}

/* Centering the modal vertically and horizontally */
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom modal backdrop transition */
.modal-backdrop {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.show {
  opacity: 0.7;
}
/*********MEDIA QUERIES********/
/* ViewGround.css */

/* Default styles for mobile */
.viewgroundsection {
  padding: 1rem;
}

.ground-image {
  width: 100%;
  height: auto;
}

/* Hide card on mobile devices */
/* @media (max-width: 767px) {
  .groundviewcard {
    display: none;
  }
} */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotateImage{
  animation: rotate 20s infinite linear; /* 5 seconds for full rotation, infinitely repeating */
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

/*****colors****  ***/
.secondaryColor{
  background-color: var(--primary-color)!important;
}
.primaryColor{
  background-color: var(--secondary-color)!important;
}
.cardsection{
  background-color: var(--teritary-color);
}
/* Ensure the columns are displayed side by side on desktop */

@media (min-width: 768px) {
  body{
    font-size: 16px;
    line-height: 1.6;
  }
  .row > .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Tablet styles */
@media (min-width: 768px) {
  body{
    font-size: 16px;
    line-height: 1.6;
  }
  .viewgroundsection {
      padding: 2rem;
  }

  .ground-image {
      width: 90%;
  }

  .available-slots,
  .booked-slots {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .available-slots li,
  .booked-slots li {
      flex: 1 1 45%; /* Two items per row */
      margin: 0.5rem;
  }
}

/* Desktop styles */
@media (min-width: 992px) {
  .ground-image {
      width: 80%;
  }

  .available-slots,
  .booked-slots {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
  }

  .available-slots li,
  .booked-slots li {
      flex: 1 1 30%; /* Three items per row */
      margin: 0.5rem;
  }

  .viewgroundsection {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }

  
}

